[submodule "forge/vendor/libvpx"]
	path = forge/vendor/libvpx
	url = https://chromium.googlesource.com/webm/libvpx
[submodule "forge/vendor/opus"]
	path = forge/vendor/opus
	url = https://github.com/xiph/opus.git
[submodule "forge/vendor/basis_universal"]
	path = forge/vendor/basis_universal
	url = https://github.com/BinomialLLC/basis_universal.git
[submodule "alloy/vendor/msdfgen"]
	path = alloy/vendor/msdfgen
	url = https://github.com/Chlumsky/msdfgen.git
